@using ShumenNews.Models.BindingModels
@model ArticleUpdateBindingModel
<h1 class="text-center">Редактиране на статията</h1>
<form class="form form-control col-md-4" method="post">
    <div>
        <label asp-for="@Model.Title" class="my-1">Заглавие: </label>
        <input asp-for="@Model.Title" class="w-100 text-center" value="@Model.Title" />
    </div>
    <div>
        <label asp-for="@Model.Content" class="my-1">Текст на статията: </label>
        <textarea asp-for="@Model.Content" class="w-100" rows="10" value="@Model.Content"></textarea>
    </div>
    <input type="submit" value="Приложи промени" class="btn btn-primary my-2"/>
</form>
<p>@Model.Author</p>