@model ICollection<ShumenNews.Models.ViewModels.ArticleViewModel>
@{
    ViewData["Title"] = "Admin Panel";
}
<a class="btn btn-outline-danger" asp-area="" asp-controller="Articles" asp-action="Index">Article Index</a>
<div class="row gap-5">
    @foreach (var article in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@article.MainImage" class="card-img-top" alt="image">
            <div class="card-body">
                <h5 class="card-title">@article.Title</h5>
                <h6 class="card-title">
                    преди @article.PublishedOn.ToShortDateString()
                    | харесвания @article.Likes | нехаресвания @article.Dislikes | преглеждания @article.Views
                </h6>
                <p class="card-text">@article.Content</p>   
                <!--Links-->
                <a asp-controller="Admin" asp-action="Details" asp-route-id="@article.Id" class="btn btn-primary">Подробности</a>
            </div>
        </div>
    }
</div>
