@model ShumenNews.Models.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Admin Panel";
}
<h2 class="text-center my-3">Администраторско табло</h2>
<hr />
<div class="d-flex justify-content-between m-0 py-1" id="searchAndSave">
    <h3 class="m-0 pb-2">Търсене на потребител или автор...</h3>
    <a asp-controller='Admin' asp-action="SetUserProps" class="btn btn-success" id="saveBtn" style="display: none;">Приложи</a>
</div>
<form method="post" class="d-flex mt-3" role="search">
    <input asp-for="Email" type="search" placeholder="Търсене... [Имейл]" class="form-control me-2" aria-label="Search">
    <button asp-action="Index" asp-route-id="@Model.Email" type="submit" class="btn btn-success"><i class="fa-solid fa-magnifying-glass p-2"></i></button>
</form>
@if (Model.Results is not null)
{
    <div class="form-group">
        <div class="border border-1 mt-3 p-3 d-inline-flex gap-1">
            <div class="w-auto mx-2">
                <p class="fst-italic"><span>@@</span>@Model.Results.User.Username</p>
                <p class="fst-italic">@Model.Results.User.FullName</p>
                <div class="d-inline-flex gap-2">
                    <p>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                            Роли
                        </button>
                    </p>
                    <p>
                        @if (!Model.Results.User.IsBlocked)
                        {
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2">
                                Блокиране <i class="fa-solid fa-caret-right"></i> 1
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-primary" type="button">
                                Отблокиране
                            </button>
                        }
                    </p>
                </div>
            </div>
            <div class="mx-1" style="min-height: 20px;">
                <div class="collapse collapse-horizontal" id="collapseWidthExample">
                    <!--Roles-->
                    <div class="card card-body" style="width: 300px;">
                        @foreach (var userRole in Model.Results.User.Roles)
                        {
                            if (userRole.IsChecked)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="@userRole.Id" onclick="ShowSaveButton()" id="flexCheckChecked" checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        @userRole.Name
                                    </label>
                                </div>
                            }
                            else
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="@userRole.Id" onclick="ShowSaveButton()" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        @userRole.Name
                                    </label>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="mx-1" style="min-height: 20px;">
                <div class="collapse collapse-horizontal" id="collapseWidthExample2">
                    <!--Block-->
                    <div class="card card-body d-inline-block" style="width: 354px;">
                        <button class="btn btn-primary" onclick="ShowSaveButton()">За ден</button>
                        <button class="btn btn-primary" onclick="ShowSaveButton()">За седмица</button>
                        <button class="btn btn-primary" onclick="ShowSaveButton()">За постоянно</button>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.Results.IsAuthor)
        {
            <hr />
            <div class="container border border-1 pt-2">
                <h3 class="text-center">Статиите на този автор</h3>
                @foreach (var article in Model.Results.Articles)
                {
                    <ul class="border border-1 list-unstyled p-2">
                        <li><h5>&#8470; @article.Id</h5></li>
                        <li><strong>@article.Title</strong></li>
                        <li><i class="fa-solid fa-thumbs-up"></i> @article.LikesCount | <i class="fa-solid fa-thumbs-down"></i> @article.DislikesCount</li>
                        <li><i class="fa-solid fa-eye"></i> @article.ViewsCount</li>
                        <li><i class="fa-solid fa-comments"></i> @article.CommentsCount</li>
                        <li><p>Публикувано: @article.PublishedOn.ToString("MM/dd/yyyy H:mm")</p></li>
                        <li class="p-2">
                            <a asp-controller="Articles" asp-action="Index" asp-route-id="@article.Id" class="btn btn-dark bg-secondary-color bg-gradient text-white">Отвори</a>
                            <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id" class="btn btn-dark bg-secondary-color bg-gradient text-white">Редактирай</a>
                        </li>
                    </ul>
                }
            </div>
        }
    </div>
}
<hr />
<h3>Автори</h3>
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th class="border-1">Име</th>
            <th class="border-1">Фамилия</th>
            <th class="border-1">Email</th>
        </tr>
    </thead>
    @foreach (var author in Model.Authors)
    {
        <tbody>
            <tr>
                <td class="border-1">@author.FirstName</td>
                <td class="border-1">@author.LastName</td>
                <td class="border-1">@author.Email</td>
            </tr>
        </tbody>
    }
</table>
<hr />
<h3>Категории</h3>
<table class="table table-striped text-center">
    @foreach (var category in Model.Categories)
    {
        <thead>
            <tr>
                <th class="border-1">@category.Id</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border-1">@category.Name</td>
            </tr>
        </tbody>
    }
</table>
<hr />
<h3>Статии</h3>
<div class="container">
    <div class="row gap-5">
        @foreach (var article in Model.Articles)
        {
            <div class="card" style="width: 18rem;">
                <img src="@article.MainImage" class="card-img-top" alt="image" width="400" height="300">
                <div class="card-body d-flex align-items-end flex-column">
                    <h5 class="card-title m-0">@article.Title</h5>
                    <ul class="card-title list-group-flush w-100 p-2">
                        <li><p>Публикувано: @article.PublishedOn.ToString("MM/dd/yyyy H:mm")</p></li>
                        <li><i class="fa-solid fa-thumbs-up"></i> @article.LikesCount | <i class="fa-solid fa-thumbs-down"></i> @article.DislikesCount</li>
                        <li><i class="fa-solid fa-eye"></i> @article.ViewsCount</li>
                        <li><i class="fa-solid fa-comments"></i> @article.CommentsCount</li>
                    </ul>
                    <!--Links-->
                    <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id" class="btn btn-primary mt-auto p-2">Подробности</a>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts
{
    <script>
        var index = 0;
        function ShowSaveButton() {
            index++;
            if (index === 1) {
                let btn = document.getElementById("saveBtn");
                btn.style.display = "block";
            }
        }
    </script>
}