@model ICollection<ShumenNews.Models.ViewModels.ArticleViewModel>
@{
    ViewData["Title"] = "Admin Panel";
}
<a class="btn btn-outline-danger" asp-area="" asp-controller="Articles" asp-action="Index">Article Index</a>
<div class="row gap-5"> 
    @foreach (var article in Model)
    {
        <div class="card" style="width: 18rem;"> 
            <img src="@article.MainImage" class="card-img-top" alt="image" width="400" height="300">
            <div class="card-body d-flex align-items-end flex-column">
                <h5 class="card-title m-0">@article.Title</h5>
                <ul class="card-title list-group-flush w-100 p-2">
                    <li>Публикувано: @article.PublishedOn.ToShortDateString()</li>
                    <li><i class="fa-solid fa-thumbs-up"></i> @article.LikesCount | <i class="fa-solid fa-thumbs-down"></i> @article.DislikesCount</li>
                    <li><i class="fa-solid fa-eye"></i> @article.ViewsCount</li>
                    <li><i class="fa-solid fa-comments"></i> 0</li>
                </ul>
                <!--Links-->
                <a asp-controller="Admin" asp-action="Details" asp-route-id="@article.Id" class="btn btn-primary mt-auto p-2">Подробности</a>
            </div>
        </div>
    }
</div>
