@using ShumenNews.Models.BindingModels
@model ArticleUpdateBindingModel
<h1 class="text-center">Редактиране на статията</h1>
<form class="form form-control col-md-4 p-4" method="post">
    <div>
        <div class="shadow p-3 mb-3 bg-body-tertiary rounded">
            @foreach (var img in Model.Images)
            {
                <img src="@img" class="shadow p-1 mb-1 bg-primary-color rounded" width="400" height="218" alt="снимка на статия" />
            }
        </div>
        <label asp-for="@Model.Title" class="my-1">Заглавие: </label>
        <input asp-for="@Model.Title" class="w-100 text-center" value="@Model.Title" />
    </div>
    @if (User.IsInRole("Author"))
    {
        <div>
            <label asp-for="@Model.Content" class="my-1">Текст на статията: </label>
            <textarea asp-for="@Model.Content" class="w-100" rows="10" value="@Model.Content"></textarea>
            @if (Model.IsDeleted)
            {
                <p>Вашата статия е архивирана от администратор!</p>
            }
        </div>
    }
    else if (User.IsInRole("Admin"))
    {
        <div>
            <label asp-for="@Model.Content" class="my-1">Текст на статията: </label>
            <textarea disabled asp-for="@Model.Content" class="w-100" rows="10" value="@Model.Content"></textarea>
            @if (Model.IsDeleted)
            {
                <p>Статията е архивирана!</p>
                <a asp-action="Restore" asp-route-id="@Model.Id"><i class="fa-solid fa-trash-can-arrow-up"></i></a>
            }
            else
            {
                <a asp-action="Delete" asp-route-id="@Model.Id"><i class="fa-solid fa-box-archive"></i></a>
            }
        </div>
    }
    <div class="mt-2">
        <input type="submit" value="Приложи промени" class="btn btn-primary" />
        <input asp-for="PublishedOn" type="date" class="btn btn-success" value="@Model.PublishedOn.ToString("yyyy-MM-dd")" />
        <select asp-for="CategoryId" class="btn btn-success" asp-items="@Model.Categories">
            <option class="text-light" disabled>Категории</option>
        </select>
        <div class="btn btn-success m-0"><span>Потребител: @Model.Author</span></div>
    </div>
</form>