@model ShumenNews.Models.ViewModels.ArticleViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container my-3">
    <h3 class="text-center">@Model.Title</h3>
    <img src="@Model.MainImage" width="480" height="480" />
    <p>@Model.Content</p>
    <div class="d-flex justify-content-between">
        <strong>Харесвания - @Model.LikesCount | Нехаресвания - @Model.DislikesCount | @Model.ViewsCount преглеждания</strong>
        <span>Публикувано на: @Model.PublishedOn.ToString("MM/dd/yyyy")</span>
    </div>

</div>
<div class="container">
    <div class="d-flex justify-content-center rounded-2 py-3 mt-3" style="background-color: grey;">
        @if (Model.UserArticle is not null)
        {
            if (Model.UserArticle.Attitude is null)
            {
                <form asp-action="GetUserAttitude">
                    <button type="submit" class="btn">
                        <i class="fa-solid fa-thumbs-up">
                            <input asp-for="@Model.UserArticle.Attitude" value="true" style="display: none;" />
                            <input asp-for="@Model.UserArticle.Id" style="display: none;" />
                            <input asp-for="@Model.Id" value="@Model.Id" style="display: none;" />
                        </i>
                    </button>
                </form>
                <form asp-action="GetUserAttitude">
                    <button type="submit" class="btn">
                        <i class="fa-solid fa-thumbs-down">
                            <input asp-for="@Model.UserArticle.Attitude" value="false" style="display: none;" />
                            <input asp-for="@Model.UserArticle.Id" style="display: none;" />
                        </i>
                    </button>
                </form>
            }
            else if (Model.UserArticle.Attitude == true)
            {
                <form asp-action="GetUserAttitude">
                    <button type="submit" class="btn">
                        <i class="fa-solid fa-thumbs-up" style="color: #16e339;">
                            <input asp-for="@Model.UserArticle.Attitude" value="true" style="display: none;" />
                            <input asp-for="@Model.UserArticle.Id" style="display: none;" />
                        </i>
                    </button>
                </form>
                <form asp-action="GetUserAttitude">
                    <button type="submit" class="btn">
                        <i class="fa-solid fa-thumbs-down">
                            <input asp-for="@Model.UserArticle.Attitude" value="false" style="display: none;" />
                            <input asp-for="@Model.UserArticle.Id" style="display: none;" />
                        </i>
                    </button>
                </form>
            }
            else if (Model.UserArticle.Attitude == false)
            {
                <form asp-action="GetUserAttitude">
                    <button type="submit" class="btn">
                        <i class="fa-solid fa-thumbs-up">
                            <input asp-for="@Model.UserArticle.Attitude" value="true" style="display: none;" />
                            <input asp-for="@Model.UserArticle.Id" style="display: none;" />
                        </i>
                    </button>
                </form>
                <form asp-action="GetUserAttitude">
                    <button type="submit" class="btn">
                        <i class="fa-solid fa-thumbs-down" style="color: #ff0000;">
                            <input asp-for="@Model.UserArticle.Attitude" value="false" style="display: none;" />
                            <input asp-for="@Model.UserArticle.Id" style="display: none;" />
                        </i>
                    </button>
                </form>
            }
        }
        else
        {
            <form asp-action="GetUserAttitude">
                <button type="submit" class="btn">
                    <i class="fa-solid fa-thumbs-up">
                        <input asp-for="@Model.UserAttitude" value="true" style="display: none;" />
                        <input asp-for="@Model.Id" value="@Model.Id" style="display: none;" />
                    </i>
                </button>
            </form>
            <form asp-action="GetUserAttitude">
                <button type="submit" class="btn">
                    <i class="fa-solid fa-thumbs-down">
                        <input asp-for="@Model.UserAttitude" value="false" style="display: none;" />
                        <input asp-for="@Model.Id" value="@Model.Id" style="display: none;" />
                    </i>
                </button>
            </form>
        }
    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-start my-2">
        <div class="p-3 rounded-circle primary-color" style="background-color: darkred;"><i class="fa-solid fa-comments fa-xl"></i></div>
        <h4 class="my-auto ms-2">КОМЕНТАРИ</h4>
    </div>
    <div class="d-flex justify-content-start rounded-2" style="background-color: darkred">
        <div class="p-3">
            <i class="fa-solid fa-ban fa-rotate-90 fa-xl primary-color"></i>
        </div>
        <p class="my-auto ms-2 text-white">
            Обиди или квалификации в коментарите не са позволени!
        </p>
    </div>
    <!--Comment post section-->
    <div class="d-flex my-3">
        <div class="p-2 my-auto">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa-solid fa-circle-user fa-xl primary-color"></i></a>
        </div>
        <form method="post" asp-action="GetUserComment" class="d-flex justify-content-between rounded-2 py-3 w-100" style="background-color: grey;">
            <input asp-for="@Model.Id" value="@Model.Id" style="display: none;" />
            <input asp-for="UserComment.Content" class="ps-2 w-100 ms-3 me-1 rounded-2" style="border:1px #1D3357 solid;" placeholder="Публикувай своето мнение...">
            <button type="submit" class="btn p-2 me-2">
                <i class="fa-solid fa-play fa-xl primary-color"></i>
            </button>
        </form>
    </div>
    <hr class="my-4" />
    <!--All comments section-->
    <div>
        @foreach (var comment in Model.Comments)
        {
            <div class="d-flex my-2">
                <div class="my-auto">
                    <i class="fa-regular fa-circle-user fa-2xl primary-color"></i>
                    <span>@comment.User.FirstName @comment.User.LastName</span>
                    <br />
                    <span>@comment.CreatedOn.ToString("MM/dd/yyyy HH:mm")</span>
                </div>
            </div>
            <!--Comment content section-->
            <div class="rounded-2 w-100 d-flex justify-content-between" style="background-color: grey;">
                <span class="p-2 text-white" style="font-family: sans-serif;">
                    @comment.Content
                </span>
                @if (User.Identity!.IsAuthenticated)
                {
                    if (comment.User.UserName == User.Identity.Name || User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        <form asp-action="RemoveUserComment" method="post" class="d-inline">
                            <input asp-for="@Model.Id" value="@Model.Id" style="display: none;" />
                            <input asp-for="@Model.UserComment.Id" value="@comment.Id" style="display: none;" />
                            <button type="submit" class="btn"><i class="fa-solid fa-xmark"></i></button>
                        </form>
                    }
                }
            </div>

        }
    </div>
</div>