@model ShumenNews.Models.ViewModels.ArticleViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container my-3">
    <h3 class="text-center">@Model.Title</h3>
    <img src="@Model.MainImage" width="480" height="480" />
    <p>@Model.Content</p>
    <strong>Харесвания - @Model.LikesCount | Нехаресвания - @Model.DislikesCount</strong>
    <span>Публикувано на: @Model.PublishedOn.ToString("MM/dd/yyyy")</span>
</div>
<div class="container">
    <div class="d-flex justify-content-center rounded-2 py-3 mt-3" style="background-color: grey;">
        @if (Model.UserArticle is not null)
        {
            if (Model.UserArticle.Attitude is null)
            {
                <form asp-action="GetUserAttitude">
                    <button type="submit" class="btn">
                        <i class="fa-solid fa-thumbs-up">
                            <input asp-for="@Model.UserArticle.Attitude" value="true" style="display: none;" />
                            <input asp-for="@Model.UserArticle.Id" style="display: none;" />
                            <input asp-for="@Model.Id" value="@Model.Id" style="display: none;" />
                        </i>
                    </button>
                </form>
                <form asp-action ="GetUserAttitude">
                    <button type="submit" class="btn">
                        <i class="fa-solid fa-thumbs-down">
                            <input asp-for="@Model.UserArticle.Attitude" value="false" style="display: none;" />
                            <input asp-for="@Model.UserArticle.Id" style="display: none;" />
                        </i>
                    </button>
                </form>
            }
            else if (Model.UserArticle.Attitude == true)
            {
                <form asp-action="GetUserAttitude">
                    <button type="submit" class="btn">
                        <i class="fa-solid fa-thumbs-up" style="color: #16e339;">
                            <input asp-for="@Model.UserArticle.Attitude" value="true" style="display: none;" />
                            <input asp-for="@Model.UserArticle.Id" style="display: none;" />
                        </i>
                    </button>
                </form>
                <form asp-action ="GetUserAttitude">
                    <button type="submit" class="btn">
                        <i class="fa-solid fa-thumbs-down">
                            <input asp-for="@Model.UserArticle.Attitude" value="false" style="display: none;" />
                            <input asp-for="@Model.UserArticle.Id" style="display: none;" />
                        </i>
                    </button>
                </form>
            }
            else if (Model.UserArticle.Attitude == false)
            {
                <form asp-action="GetUserAttitude">
                    <button type="submit" class="btn">
                        <i class="fa-solid fa-thumbs-up">
                            <input asp-for="@Model.UserArticle.Attitude" value="true" style="display: none;" />
                            <input asp-for="@Model.UserArticle.Id" style="display: none;" />
                        </i>
                    </button>
                </form>
                <form asp-action="GetUserAttitude">
                    <button type="submit" class="btn">
                        <i class="fa-solid fa-thumbs-down" style="color: #ff0000;">
                            <input asp-for="@Model.UserArticle.Attitude" value="false" style="display: none;" />
                            <input asp-for="@Model.UserArticle.Id" style="display: none;" />
                        </i>
                    </button>
                </form>                
            }
        }
        else
        {
            <form asp-action="GetUserAttitude">
                <button type="submit" class="btn">
                    <i class="fa-solid fa-thumbs-up">
                        <input asp-for="@Model.UserAttitude" value="true" style="display: none;" />
                        <input asp-for="@Model.Id" value="@Model.Id" style="display: none;" />
                    </i>
                </button>
            </form>
            <form asp-action="GetUserAttitude">
                <button type="submit" class="btn">
                    <i class="fa-solid fa-thumbs-down">
                        <input asp-for="@Model.UserAttitude" value="false" style="display: none;" />
                        <input asp-for="@Model.Id" value="@Model.Id" style="display: none;" />
                    </i>
                </button>
            </form>
        }
    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-start my-2">
        <div class="p-3 rounded-circle" style="background-color: red;"><i class="fa-solid fa-comments fa-xl"></i></div>
        <h4 class="my-auto ms-2">КОМЕНТАРИ</h4>
    </div>
    <div class="d-flex justify-content-start rounded-2" style="background-color: red">
        <div class="p-3">
            <i class="fa-solid fa-ban fa-rotate-90 fa-xl"></i>
        </div>
        <p class="my-auto ms-2 text-white">
            Обиди или квалификации в коментарите не са позволени!
        </p>
    </div>
    <div class="d-flex my-3">
        <div class="p-2 my-auto">
            <i class="fa-solid fa-circle-user fa-xl"></i>
        </div>
        <div class="d-flex justify-content-between rounded-2 py-3 w-100" style="background-color: grey;">
            <input class="ps-2 w-100" value="Публикувай своето мнение...">
            <div class="p-2">
                <i class="fa-solid fa-share fa-lg"></i>
            </div>
        </div>
    </div>
    <hr class="my-4" />
    <div>
        <div class="d-flex my-2">
            <div class="my-auto">
                <i class="fa-regular fa-circle-user fa-2xl"></i>
                <span>Iron Lexx</span>
                <br />
                <span>Преди 6 месеца</span>
            </div>
            <div class="my-auto ms-auto">
                <button class="btn btn-outline-success">
                    <i class="fa-solid fa-share fa-flip-horizontal"></i>
                </button>

            </div>
        </div>
        <div class="rounded-2 w-100" style="background-color: grey;">
            <p class="p-2">
                Едно от любимите ми препоръчвам, много е добро
            </p>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var attitude = null;
        function getUserAttitude(attitude) {

        }
    </script>
}