@model ShumenNews.Models.ViewModels.ArticleViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <h3 class="text-center">@Model.Title</h3>
    <img src="@Model.MainImage" width="480" height="480"/>
    <p>@Model.Content</p>
    <strong>Харесвания - @Model.LikesCount | Нехаресвания - @Model.DislikesCount</strong>
    <span>Публикувано на: @Model.PublishedOn</span>
</div>
