@using ShumenNews.Models.ViewModels
@model PreViewModel
@{
    ViewData["Title"] = "Home Page";
}
<section class="mb-5">
    <!--Carousel-->
    <div id="carouselExampleCaptions" class="carousel slide mt-5">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            @for (int i = 1; i < 3; i++)
            {
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@i" aria-label="Slide @i"></button>
            }
        </div>
        <div class="carousel-inner">
            @for (int i = 0; i < 3; i++)
            {
                @if (i == 0)
                {
                    <div class="carousel-item active">
                        <a asp-area="" asp-controller="Articles" asp-action="Index" asp-route-id="@Model.WeekArticles.ElementAtOrDefault(i)!.Id">
                            <img src="@Model.WeekArticles.ElementAtOrDefault(i)!.MainImage" class="d-block w-100" alt="image" height="400">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@Model.WeekArticles.ElementAtOrDefault(i)!.Title</h5>
                                <p>
                                    Дата: @Model.WeekArticles.ElementAtOrDefault(i)!.PublishedOn.ToString("MM/dd/yyyy") |
                                    @Model.WeekArticles.ElementAtOrDefault(i)!.LikesCount харесвания |
                                    @Model.WeekArticles.ElementAtOrDefault(i)!.ViewsCount преглеждания
                                </p>
                            </div>
                        </a>
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <a asp-area="" asp-controller="Articles" asp-action="Index" asp-route-id="@Model.WeekArticles.ElementAtOrDefault(i)!.Id">
                            <img src="@Model.WeekArticles.ElementAtOrDefault(i)!.MainImage" class="d-block w-100" alt="image" height="400">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@Model.WeekArticles.ElementAtOrDefault(i)!.Title</h5>
                                <p>
                                    Дата: @Model.WeekArticles.ElementAtOrDefault(i)!.PublishedOn.ToLongDateString() |
                                    @Model.WeekArticles.ElementAtOrDefault(i)!.LikesCount харесвания |
                                    @Model.WeekArticles.ElementAtOrDefault(i)!.ViewsCount преглеждания
                                </p>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--Cards-->
    @foreach (var category in Model.Categories)
    {
        <div class="d-flex">Категория: @category.Name</div>
        <div class="d-flex justify-content-center my-3">
            @foreach (var article in category.Articles)
            {
                <div class="card mx-2" style="width: 18rem;">
                    <img src="@article.MainImage" class="card-img-top" alt="image" width="250" height="200">
                    <div class="card-body">
                        <h5 class="card-title">@article.Title</h5>
                        <h6 class="card-title">
                            преди @article.PublishedOn.ToShortDateString()
                        </h6>
                        <h6>
                            <i class="fa-solid fa-thumbs-up"></i> @article.LikesCount
                        </h6>
                        <h6>
                            <i class="fa-solid fa-eye"></i> @article.ViewsCount |
                            <i class="fa-solid fa-comments"></i> @article.CommentsCount
                        </h6>
                        <p class="card-text">@article.Content</p>
                        <!--Links-->
                        <a asp-area="" asp-controller="Articles" asp-action="Index" asp-route-id="@article.Id" class="btn btn-dark bg-secondary-color bg-gradient text-white">Прочети</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id"><i class="fas fa-edit "></i></a>
                        }
                    </div>
                </div>
            }
        </div>
    }
</section>